<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Explicitly disable rewriting for front controllers
    #RewriteRule ^front_dev.php - [L]
    RewriteRule ^front.php - [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    # Change below before deploying to production
    RewriteRule ^(.*)$ front.php [QSA,L]
    #RewriteRule ^(.*)$ front_dev.php [QSA,L]
</IfModule>